.topnavbar {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  /* height: 12vh; */
  height: 80px;
  background: #000000;
  color: white;
  padding: 0 1% 0 1%;
}

.topnavbar button {
  margin-left: 2%;
  display: flex;
  align-items: center;
}
.topnavbar .actions {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: flex-end;
}

.topnavbar .info {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
}
.topnavbar .info img {
  width: 60px;
  height: 60px;
}

.topnavbar h2 {
  align-self: center;
}

#saved {
  visibility: hidden;
}